
.NewFeature .formatting-container {
    margin-top: 300px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
}

.NewFeature .formatting-container button {
    margin-top: 20px;
}

.search-container {
    padding-top: 163px; 
    justify-content: flex-start;
    border: none;
    margin-right: 100px;
    padding: 163px 45px;

  }
  